@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    background-color: #1f1f1f;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    text-align: center;
}

.bigHead{
    text-align: center;
    color: white;
    font-size: 3rem;   
    background: rgb(24, 24, 24);
    padding-top: 8rem;
    height: 5rem;
    margin-top: -8rem;
  }

.navinfo{
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    height: 4rem;
    display: block;
    background: rgb(24, 24, 24);
    a{
        color: white;
        border-radius: 0.5rem;
        background-color: rgb(24, 24, 24);
        transition: 0.5s;
        padding: 0.5rem;
        margin: 1.5rem;
    }

    a:hover{
        background-color: rgb(50, 50, 50);
        transition: 0.5s;
    }

}

#logoGif {
    margin-top: 1rem;
    height: calc(4rem);
    background-color: rgb(30, 30, 30);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 5rem rgb(15, 15, 15);
}

hr{
    border: 0.5px solid rgb(60, 60, 60);
}

.projectSection{
    display: block;
    background-color: rgb(24, 24, 24);

    text-align: left;

}



